/* nav bar */


/* nan bar  */

.contener {
    width: 600px;
    margin: auto;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    gap: 81px;
}

img {
    width: 220%;
    /* margin: 0 auto; */
}

h1{
    background-color: #D9D9D9;
    width: fit-content;
    padding: 20px;
    position: relative;
    left: 20%;
    border-radius: 10px;
    margin-bottom: 4px;
}

.type-Car, .micanik, .Statut-juridique {
    display: flex;
    flex-flow: column wrap;
    gap: 15px;
}

.case1{
    width: fit-content;
    padding: 0px 35.2% 20px;
    background-color: #D9D9D9;
    margin: auto;
    /* margin-bottom:  15px; */
    border-radius: 10px;
}

.typeCar-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}

.typeCar-flex > div, .micanik-flex>div{
    /* width: fit-content; */
    padding: 0px 20px 20px;
    background-color: #D9D9D9;
    border-radius: 15px;   
}

.micanik-case {
    width: fit-content;
    margin: auto;
    background-color: #D9D9D9;
    padding: 0px 31.5% 20px;
    border-radius: 10px;
}

.micanik-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}

.magic-div {
    display: none;
}

input[type="file"] {
    width: 200px;
    background-color: white;
    border: solid 1px;
    border-radius: 5px;
}

.juridique-case1 {
    width: fit-content;
    margin: auto;
    padding: 0px 28.4% 20px;
    background-color: #D9D9D9;
    border-radius: 10px;
}

.juridique-flex {
    display: flex;
    justify-content: space-between;
}

.juridique-flex > div {
    padding: 0px 20px 20px;
    width: fit-content;
    background-color: #D9D9D9;
    flex-wrap: wrap;
    border-radius: 10px;
}

.BotonValider {
    background-color: #D9D9D9;
    padding: 20px 70px;
    width: fit-content;
    border-radius: 50px;
    margin: auto;
}

.modifLine {
    background-color: #D9D9D9;
    width: fit-content;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    padding-left: 3px;
}

.modifLine a {
    color: black;
    text-decoration: none;
    
}














/* .contener {
    background-color: blue;
    width: 600px;
    margin: auto;
}

.case1 {
    width: fit-content;
    margin: auto;
    padding: 0px 20px 20px;
    background-color: #D9D9D9;
}

.typeCar-flex {
    display: flex;
    flex-wrap: wrap;
    background-color: chocolate;
    justify-content: center;
}

.typeCar-flex > div, .case4{
    width: fit-content;
    padding: 0px 20px 20px;
    background-color: #D9D9D9;
    width: 200px;

}

 */






























/* .typeCar {
    background-color: blueviolet;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    flex-wrap: wrap;
} */

/* .typeCar>div {
   background-color: brown; 
} */

/* .case1 {
    width: 25%;
    margin: auto;
} */

/* .case2, .case3, .case4 {
    width: 12%;
} */

/* input[type="number"],  input[type="text"] {
    width: 90%;
} */



















/* input[type="email"] {
    width: 98%;
    margin-left: 0.5%;
    border-radius: 5px;
}  */